<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vacantes disponibles</title>
</head>
<body>
<h1>Vacantes disponibles</h1>
<h2 th:text="${vacante.nombre}"></h2>
<h2 th:text="${vacante.fecha}"></h2>
<h2 th:text="${vacante.salario}"></h2>
<h2 th:text="${vacante.descripcion}"></h2>

<h3>Se requiere un [[${vacante.nombre}]] con un salario de [[${vacante.salario}]]</h3>
</body>
</html>